<div class="row">
{% for employee in employeeList.employees %}
  <div class="col">
    <h5>{{employee.employee_profile.screen_name}}</h5>
    <h7>{{employee.employee_profile.position}}</h7>
  </div>
{% endfor %}
</div>
