<link rel="stylesheet" href="{{'plugins/superlabmx/employees/assets/css/employees.css'|app }}" type="text/css">
<div class="row">
  {% for employee in employeeList.employees %}
  <div class="col s10 offset-s1
    {% if employeeList.employees|length == 2 %}
      m5 push-m1 l4 push-l2
    {% elseif employeeList.employees|length == 3 %}
      m4 l4
    {% elseif employeeList.employees|length == 4 %}
      m3 l3
    {% else %}
      m6 push-m3 l4 push-l4
    {% endif %}">
    <div class="center-align employee-main-container">
      {% if employee.employee_profile.avatar %}
        <img src="{{employee.employee_profile.avatar}}" alt="" class="team-image circle">
      {% else %}
        <img src="{{'plugins/superlabmx/employees/assets/default.png'|app}}" alt="" class="team-image circle">
      {% endif %}
      <div class="employee-contact-container circle">
        {% for key, method in employee.employee_profile.contact_methods %}
          <a href="{{method.link}}" target="_blank"
              class="btn-floating waves-effect waves-light {{key}}">
            <i class="fa fa-{{method.icon}}" aria-hidden="true"></i>
          </a>
        {% endfor %}
      </div>
    </div>
    <h5>{{employee.employee_profile.screen_name}}</h5>
    <h7>{{employee.employee_profile.position}}</h7>
  </div>
  {% endfor %}
</div>
