img.team-image{
  max-width: 100%;
  height:auto;
}
div.employee-main-container{
  width:70%;
  position:relative;
  display: inline-block;
}

div.employee-main-container div.employee-contact-container{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 97.5%;
  width: 100%;
  background-color: rgba(0,0,0, 0.8);
  opacity:0;
  transition:opacity 0.4s linear;
}

div.employee-main-container div.employee-contact-container:hover{
  opacity:1;
}

div.employee-main-container div.employee-container{
  width: 100%;
  height:100%;
}

div.employee-main-container .contact-title{
  padding-top: 2em;
  font-size: 1.4em;
}

div.employee-main-container a{
  margin: 50% 0.3em 0 0.3em;
}

.employee-contact-container a.btn-floating{
  width: 2.3em!important;
  height: 2.3em!important;
}
div.employee-main-container i.fa{
  font-size: 1.2rem;
}

div.employee-main-container a.facebook{
  background-color: #3c5a96;
}

div.employee-main-container a.twitter{
  background-color: #3fcdfc;
}

div.employee-main-container a.mail{
  background-color: #5baccf;
}
